################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppBirthday/copilot-chat/f8c556d8/sessions
/.vs/AppBirthday/CopilotIndices/17.14.1231.31060
/.vs/AppBirthday/FileContentIndex
*.cache
/AppBirthday/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/AppBirthday/v17
