USE [proyectoCumpleanios]
GO
/****** Object:  Table [dbo].[UltimoEnvio]    Script Date: 08/08/2026 22:09:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UltimoEnvio](
	[IdEnvio] [int] IDENTITY(1,1) NOT NULL,
	[MesNro] [nvarchar](3) NOT NULL,
	[Mes] [nvarchar](20) NOT NULL,
	[AnioUltimoEnvio] [int] NULL,
 CONSTRAINT [PK_UltimoEnvio] PRIMARY KEY CLUSTERED 
(
	[IdEnvio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UltimoEnvio] ON
INSERT [dbo].[UltimoEnvio] ([IdEnvio], [MesNro], [Mes], [AnioUltimoEnvio]) VALUES (1, N'01', N'Enero', NULL)
INSERT [dbo].[UltimoEnvio] ([IdEnvio], [MesNro], [Mes], [AnioUltimoEnvio]) VALUES (2, N'02', N'Febrero', NULL)
INSERT [dbo].[UltimoEnvio] ([IdEnvio], [MesNro], [Mes], [AnioUltimoEnvio]) VALUES (3, N'03', N'Marzo', NULL)
SET IDENTITY_INSERT [dbo].[UltimoEnvio] OFF
