USE [proyectoCumpleanios]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 08/08/2026 22:09:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NULL,
	[UserInstagram] [nvarchar](50) NOT NULL,
	[FecCumpleaños] [nvarchar](50) NOT NULL,
	[FecUltEnvioIndividual] [date] NULL,
	[FecUltEnvioGrupo] [date] NULL,
	[TipoRelacion] [nvarchar](50) NULL,
	[SnHabilitado] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persona] ON
INSERT [dbo].[Persona] ([IdPersona], [Nombre], [Apellido], [UserInstagram], [FecCumpleaños], [FecUltEnvioIndividual], [FecUltEnvioGrupo], [TipoRelacion], [SnHabilitado]) VALUES (1, N'Sofia', N'Lopez', N'sofflopez_', N'11/07', CAST(0xE9480B00 AS Date), CAST(0xE3480B00 AS Date), N'Amiga', N'S')
INSERT [dbo].[Persona] ([IdPersona], [Nombre], [Apellido], [UserInstagram], [FecCumpleaños], [FecUltEnvioIndividual], [FecUltEnvioGrupo], [TipoRelacion], [SnHabilitado]) VALUES (2, N'Ale', N'Storni', N'puericultora.alejandra_storni', N'11/06', CAST(0xE8480B00 AS Date), CAST(0xE3480B00 AS Date), N'Madre', N'S')
INSERT [dbo].[Persona] ([IdPersona], [Nombre], [Apellido], [UserInstagram], [FecCumpleaños], [FecUltEnvioIndividual], [FecUltEnvioGrupo], [TipoRelacion], [SnHabilitado]) VALUES (4, N'Narella', N'Córdoba', N'narellasheens', N'09/16', CAST(0xB5480B00 AS Date), CAST(0xA6480B00 AS Date), N'Amiga', N'S')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Persona] OFF
